<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
  type="text/javascript"
>
    var prntTypes = '';
    var rvno = '';
    var strUrl = '';
    var pvid = '';
    var custID = '';
    var base_url = "https://designer.theprintgarage.com.au/designer/";
    var thisVendor = '';
    var secretKeyData = '';
    {% assign vendor = product.vendor %}
    thisVendor = "{{ vendor }}";
   {% if customer %}
      custID = {{ customer.id}} ;
    {% else %}
        custID = 0 ;
   {% endif %}
   // for template based product
   var productCat = '';
   var pbti = 0;
   {% for c in product.collections %}
      productCat += {{ c.id}};
         {% if forloop.last != true %}
        productCat += ',';
        {% endif %}
   {% endfor %}
    
    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    
    var refID = 0;
   
   {% unless product.metafields.Pre-Deco.imprint_design_id == blank %}  
    refID = {{ product.metafields.Pre-Deco.imprint_design_id }};
    $( "#AddToCart" ).replaceWith( "<button type='button' name='cust' id='custom' class='btn' onclick='addPDPtoCart({{ product.id }},"+refID+");'><span id='addPDPtext'>Add to Cart</span></button>" );
    {% endunless %}

  $(document).ready(function() {
  //redirect to site if duplicate product is opened
  if(thisVendor == 'imprintNext'){
          window.location.href="/";
        }
    try {
    let $metafieldElement = $("#customData");
    if ($metafieldElement.length === 0) {
        console.error("Element #customData not found.");
        return;
    }

    let metafieldData = JSON.parse($metafieldElement.text().trim());
    console.log(metafieldData);

    if (!metafieldData || !metafieldData.data.options || !metafieldData.data.variants) {
        console.error("Invalid metafield format.");
        return;
    }

    // Hide Shopify's default variant selectors
    $(".product-header_option-list").hide();

    let $form = $(".product-header_add-to-cart.w-form");
    if ($form.length === 0) {
        console.error("Product form not found.");
        return;
    }

    let options = metafieldData.data.options;
    let variants = metafieldData.data.variants;

  // Generate new variant selectors
let $container = $("<div>", {
    id: "variant-selector-container",
    css: { marginTop: "10px" }
});

$.each(options, function(optionIndex, option) {
    let $fieldset = $("<fieldset>", { class: "variant-selector variant-selector--pill" });

    let $legend = $("<legend>", { class: "variant-label", text: option.name });
    $fieldset.append($legend);

    $.each(option.values, function(valueIndex, value) {
        let inputId = `variant-option-${optionIndex}-${valueIndex}`;
        
        let $input = $("<input>", {
            type: "radio",
            id: inputId,
            name: `variant-${option.name}`,
            value: value,
            "data-option": option.name,
            class: "variant-input"
        });

        let $label = $("<label>", {
            for: inputId,
            html: `${value} <span class="visually-hidden variant-unavailable">Variant sold out or unavailable</span>`,
            class: "variant-label-option"
        });

        $fieldset.append($input, $label);
    });

    $container.append($fieldset);
});


    let $priceElement = $(".product-header_price-wrapper");
    if ($priceElement.length) {
        $priceElement.after($container);
    }

    console.log("Custom product options loaded successfully!");

} catch (error) {
    console.error("Error parsing metafield data:", error);
}

  });
  // for template based product
  if(productCat != ''){
      $.get(base_url+"api/v1/template-products?prodcatID="+productCat,function(data){
    data = JSON.parse(data);
    jQuery.each(data, function(i, item) {
      
      if(item != false){
        pbti = 1;
      }
      });
    });
  }
  $.get(base_url+'api/v1/secretkey',function(html){
    secretKeyData = JSON.parse(html);
  });
  /**
  * Get encrypted order data string.
  *
  * @param {string} urlToEncode - order data string
  * @param {string} secretKey - secret key
  */
  function encrypt(urlToEncode, secretKey) {
    let enCodedBit, encryptedTxt = '', cipherKey = '5';
    urlToEncode += secretKey;
     for (let i = 0; i < urlToEncode.length; i++) {
      enCodedBit = String.fromCharCode(urlToEncode[i].charCodeAt(0) + cipherKey.charCodeAt(0));
      encryptedTxt += enCodedBit;
      }
      encryptedTxt = (btoa(encryptedTxt))
      return encryptedTxt;
    }
  
function customize_product(pid, cid) {
    var url = "";
    var baseurl = "";
    // get the variant id from imprintnext
    let color = $(`#product_form_${pid} .single-option-selector[name='color' i] option`).filter(":selected").val();
    $.ajax({
        url: `${base_url}api/v1/product-options/${pid}/first-variant?color=${color}`,
        type: 'GET',
        dataType: 'json',
        async: false
    }).done(function (response) {
        if (response.status == 1) {
            pvid = response.variant_id;
        } else {
          // get current variant id
          pvid = window.location.search.split('variant=')[1];
          if (pvid == null || pvid === ''){
            pvid = "{{product.selected_or_first_available_variant.id}}";
          }
        }
    });
  
    if (pvid == '') {
      alert('This color is not customizable please select another.');
      return false;
    }
    var qty =0;
    if(document.getElementById('Quantity-product-template')){
        qty = document.getElementById('Quantity-product-template').value;
    } else if(document.getElementsByName('quantity')){
        qty = document.getElementsByName('quantity').value;
    } else if(document.getElementById('qty')){
        qty = document.getElementById('qty').value;
    } else {
        qty = document.getElementById('Qty').value;
    }

    //     get current variant id
    //  if(document.getElementById('Quantity-product-template').style.display == 'none'|| qty === 0){
    //  if(!document.getElementById('stockOut'))
    //  $("<span id='stockOut' style='color: red; font-size: small; padding-left: 12px;'>Out of Stock !!!</span>").insertAfter("#Quantity-product-template");
    //         return;
    //  }

    var urlparam = "customer=" + cid +"&id=" + pid + strUrl +"&qty=" + qty +"&vid=" + pvid +"&pbti=" + pbti;
    if(refID && refID > 0){
        urlparam += "&dpid=" + refID;
        //baseurl = baseurl + "&dpid=" + refID;
    }
    var encryptUrl = encrypt(urlparam, secretKeyData);
    if(pvid){
      var url = base_url+"mobile/index.html?" + encryptUrl ;
      var baseurl = "/pages/designer-studio?" + encryptUrl ;
    }
    
    if (isMobile || navigator.userAgent.match(/Mac/) && navigator.maxTouchPoints && navigator.maxTouchPoints > 2) {
        window.location.href=url;
    } else {
      window.location.href=baseurl;
    }
}
    
function addPDPtoCart(pid,refID) {
    $('#addPDPtext').text('Adding to Cart...');
      var qty =0;
    if(document.getElementById('quantity')) {
      qty = document.getElementById('quantity').value;
    } else if(document.getElementById('Quantity')) {
       qty = document.getElementById('Quantity').value;
    } else if(document.getElementById('qty')) {
       qty = document.getElementById('qty').value;
    } else {
       qty = document.getElementById('Qty').value;
    }

    //   get current variant id
    pvid = window.location.search.split('variant=')[1];
    if (pvid == null || pvid === ''){
      pvid = "{{product.selected_or_first_available_variant.id}}";
    }
    if(pvid && pvid != ''){
      var cartURL = '/cart?view=refitem&ref='+refID+'-'+pvid+'-'+qty;
      window.location.href=cartURL;
    } else {
       alert('Something went wrong. Please try another product.');
    }
}

//  $(document).ready(function() {
//     try {
//          let metafieldElement = document.getElementById("customData");
//          let metafieldData = JSON.parse(metafieldElement.textContent);
//           console.log(metafieldData);
//         if (!metafieldData || !metafieldData.data.options || !metafieldData.data.variants) {
//             console.error("Invalid metafield format.");
//             return;
//         }

//         // Hide Shopify's default variant selectors
//         document.querySelectorAll(".product-header_option-list").forEach(el => el.style.display = "none");

//         let form = document.querySelector(".product-header_add-to-cart w-form");
//         if (!form) {
//             console.error("Product form not found.");
//             return;
//         }

//         let options = metafieldData.data.options;
//         let variants = metafieldData.data.variants;

//         // Generate new variant selectors
//        let container = document.createElement("div");
//         container.setAttribute("id", "custom-variant-container");
//         container.style.marginTop = "10px";

//         options.forEach((option, optionIndex) => {
//             let fieldset = document.createElement("fieldset");
//             fieldset.className = "js product-form__input product-form__input--pill";

//             let legend = document.createElement("legend");
//             legend.className = "form__label";
//             legend.textContent = option.name;
//             fieldset.appendChild(legend);

//             option.values.forEach((value, valueIndex) => {
//                 let input = document.createElement("input");
//                 input.type = "radio";
//                 input.id = `custom-option-${optionIndex}-${valueIndex}`;
//                 input.name = `custom-${option.name}`;
//                 input.value = value;
//                 input.setAttribute("data-option", option.name);

//                 let label = document.createElement("label");
//                 label.setAttribute("for", input.id);
//                 label.innerHTML = `${value} <span class="visually-hidden label-unavailable">Variant sold out or unavailable</span>`;

//                 fieldset.appendChild(input);
//                 fieldset.appendChild(label);
//             });

//             container.appendChild(fieldset);
//         });
      
//         // let priceElement = document.querySelector(".price");
//         // // Insert custom variant options **below the price**
//         // priceElement.insertAdjacentElement("afterend", container);


//         console.log("Custom product options loaded successfully!");
//     } catch (error) {
//         console.error("Error parsing metafield data:", error);
//     }
// });
</script>
