<div class="padding-global"><div class="container-large"><div class="padding-section-medium"><div class="layout527_component"><div class="margin-bottom margin-xxlarge"><div class="text-align-center"><div class="max-width-medium align-center"><div class="settings-schema w-embed"></div>
<div class="margin-bottom margin-small"><h2 li-object="section.settings.bento_heading_text" class="heading-style-h2">{{ section.settings.bento_heading_text }}</h2></div><div class="richtext-wrapper is-center text-size-medium w-richtext"><p li-object="section.settings.bento_paragraph_text">{{ section.settings.bento_paragraph_text }}</p></div></div></div></div><div class="w-layout-grid layout527_grid">{% for block in section.blocks %}
    {% if block.type == "large-bento-card-1" %}
                    <div li-block="Large Bento Card 1" id="w-node-_8a844d5b-0604-5918-bb65-fc65b461e4f3-30216f13" class="layout527_card is-large">
                                    <div class="settings-schema w-embed"></div>

                                    <div class="layout527_background-image-wrapper">{% if block.settings.hide_link != true %}    <div li-if="block.settings.hide_link != true" class="image-overlay-layer">
        </div>
{% endif %}<img li-object:src="block.settings.card_background_image | img_url: 'master'" loading="lazy" alt="" src="{{ block.settings.card_background_image | img_url: 'master' }}" class="layout527_background-image">
</div>
                                    <div class="layout527_card-content {{ block.settings.card_bg }}"><div class="layout527_card-content-top"><div class="margin-bottom margin-small"><h3 li-object="block.settings.card_heading_text" class="layout527_card-heading">{{ block.settings.card_heading_text }}</h3></div><p li-object="block.settings.card_paragraph_text">{{ block.settings.card_paragraph_text }}</p></div>{% if block.settings.hide_link != true %}    <div li-if="block.settings.hide_link != true" class="margin-top margin-small">
    <div class="button-group"><a li-object:href="block.settings.card_link" href="{{ block.settings.card_link }}" class="layout527_card-link w-inline-block"></a><a li-object:href="block.settings.card_link" id="w-node-_8a844d5b-0604-5918-bb65-fc65b461e502-30216f13" href="{{ block.settings.card_link }}" class="button is-secondary w-inline-block"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" width="100%" fill="currentColor" class="icon-1x1-small"><path d="M328 96c13.3 0 24 10.7 24 24l0 240c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-182.1L73 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231L88 144c-13.3 0-24-10.7-24-24s10.7-24 24-24l240 0z"></path></svg></a></div>    </div>
{% endif %}</div>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></div> {% schema %} {"tag":"section","name":"BentoBox","class":"section_layout527","blocks":[{"name":"Large Bento Card 1","type":"large-bento-card-1","settings":null}],"settings":[{"type":"header","content":"Bento Content Settings"},{"type":"textarea","id":"bento_heading_text","label":"Bento Heading Text","default":"Medium length hero heading goes here"},{"type":"richtext","id":"bento_paragraph_text","label":"Bento Paragraph Text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<\/p>"}],"presets":[{"name":"BentoBox","category":"Liquify"}]} {% endschema %}